/*CSS for the entire website*/
body{
	margin:0px;
	padding:0px;
	background: #BA3920;
	font-family: Vernada, Arial, sans-serif;
	color: #555;
	margin-left: 10%;
	margin-right: 10%;
     }

a{
	color: #788d38;
 }

h3 a{
	color: #D61334;
}
.formDivMain{
	background: #E3E1B6;
	height: 1100px;;
	margin-top: -15px;

}
.formDivMain2{
	background: #E3E1B6;
	margin-top: -25px;

}

.formDiv {
	margin: 5px auto;
	width: 520px;
	border-radius:5px;
	padding:0px;
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: 1px 1px 5px #ccc;	
	margin-left: 400px;
	margin-top: 15px;
}

.index_top{
	background: #7A7171;
	height: 100%;
	clear: both;
}
.index_middle{
	background: white;
	height: 220px;
	clear: both;
	
}
.index_bottom{
	background: red;
	height: 77px;
	clear: both;
	
}

.loginform{
	margin: 5px auto;
	width: 450px;
	border-radius:5px;
	padding:0px;
	border: 8px solid #ccc;
	background: #F5E082;
	-moz-box-shadow: 0 19px 10px -9px #B0AD84;
	-webkit-box-shadow: 0 19px 10px -9px #B0AD84;
	box-shadow: 0 19px 10px -9px #B0AD84;
	color:#7e7975;	
	margin-top: -550px;
	height: 450px;
	
	clear: both;
	
	
}
fieldset{
	width:1000px;
	background:#7EBCBF;
	height: 96.5%;
	margin-right: 10%;
}
fieldset p{
	color : white;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-left: -20px;
	margin-top: 50px;
	
}

.footer fieldset{
	width:1000px;
	background: black;
	clear: both;
	height: 45px;
	margin-top: 20px;
	
}
.footer fieldset p{
		 color: white;
		 font-size: 16px;
		 font-weight: normal;
		margin-top: 15px;
}
.loginform form{
	padding: 20px;
}

.formDiv form{
	padding: 20px;
}

.loginform h3{
	margin: 0px;
	padding:10px;
	line-height: 20px;
	width: auto;
}
.formDiv h3{
	margin: 0px;
	padding:10px;
	line-height: 20px;
	width: auto;
}
.loginform label{
	 width: 100px;
	 display: block;
	 text-align: right;
	 float: left;
	 margin-top: 6px;
	 margin-right: 10px;
	 color: #666;
	 font-size: 20px;
}
.formDiv label {
	 width: 100px;
	 text-align: right;
	 float: left;
	 margin-top: 6px;
	 margin-right: 10px;
	 color: #666;
}



.loginform input[type = submit]{
	float: left;
	color: #fff;
	font-weight: bold;
	border: 1px solid #788d38;
	width: 40%;
	cursor: pointer;
	padding: 0px;
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 100px;
	background:#71C7C7;
	
}


.loginform input[type = submit]:hover
{		
	background: #F72D05;
	background-image: -moz-linear-gradient(#6cbb6b, #F72D05);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #F72D05),color-stop(1, #6cbb6b));
}
.loginform input[type = submit]:active
{		
	background: #F72D05;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}



.formDiv input[type = submit]{
	float: right;
	color: #fff;
	font-weight: bold;
	border: 1px solid #788d38;
	width: 40%;
	cursor: pointer;
	padding: 0px;
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
}

.loginform input, select {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin: 2px 0px;
	width: 80%;
	height: 50px;
	
}
.formDiv input, select {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin: 2px 0px;
	width: 50%;
}

/******* Admin panel section ********/
#admin_main{
	    background: #E3E1B6;
	    height: 1200px;
}
#display_all{
            background: white;
}
#admin_menu {
	background: #635E59;
	padding: 15px 10px;
	color: white;
	height: 40px;
	
}

#admin_menu a{
	 color: #ccc;
}

#admin_menu a:hover{
	 color: #efefef;
}

.contactList{
	width: 1015px;
}

.contactList th{
	background: #548C58;
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.contactList td{
	padding: 7px 5px;
	color:black;
}
.row0{
	background: #ccc;
	color:#4E5152;
}
.row1{
	background: #E6DFB5;
	color:#4E5152;
}
row1:hover, row0:hover{
	background: #fff;
}

.greyBG{
	background:#99430E;
	color: #fff;
	font-weight: bold;
	padding-left: 10px;
	padding: 5px;
}


.Index_login{
	background:#406363;
	color: #fff;
	font-weight: bold;
}

.greenBG, input[type = submit]{
	background:#97BFBD;
	color: #fff;
	font-weight: bold;
	margin-right: 20px;
}
/*Delete, Update and Add Buttons on All forms*/
#deleteme{
	background: blue;
	margin-top: -10px;
	margin-left: -1px;
}
#update{
	background: #F7F028;
	color: black;
	font-weight: bold;
}
#add{
	background: #0C8CCC;
	color: black;
	font-weight: bold;
	
	
}
/*Cancel Button on update forms*/
.formDiv a.cancel {
	float: right;
	color: #fff;
	font-weight: bold;
	border: 1px solid #788d38;
	width: auto;
	cursor: pointer;
	padding: 0px;
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
	margin-right: 213px;
	
}
/*Anchor for cancel buttons*/
a.cancel{
	background:#FC283E;
	text-decoration: none;
	margin-top: 3px;
	border-radius:5px;
}
a.delete{
	color: blue;
	margin-left: 10px;
}
/*Error Message for failed Logins */
.error_msg{
	background:red;
	background-position: -75px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	margin: 5px auto;
	width: 450px;
	border-radius: 5px;
}
/*Status Messages*/
.error_msg2{
	background:red;
	background-position: -75px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	margin: 5px auto;
	width: 450px;
	margin-top: -300px;
	margin-right: 120px;
	float:right;
	border-radius: 5px;
}

/* Check Boxes on Track Communication Form*/
input[type=checkbox]{
    display: none;
}


 input[type=checkbox] + label{
    display: inline-block;
    width: 52px;
    height: 32px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
   
 	
}

input[type=checkbox]:checked + label{
  background-position: left -32px;
  
}

label{
 background-image:url(../images/checkbox.png);


}

/*Side Menus*/
.left_col{
	float: left;
	width: 400px;
	height: 100%;
	 
	
	
}
.admin_main_col{

}
.right_col{
	  float:right;
	  height: 100%;
	 
	}
#left_nav{
	  width: 350px;
	  height: 350px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#99430E;
	margin-bottom: -10px;

}

#left_nav h1{
	text-align: left;
	margin-left: 25px;
	font-size: 20px;
	color: white;
}

#Inner_Panel {
	width: 320px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:white;
	margin-left: 20px;
	margin-top: -10px;
		
}

#Inner_Panel{
	text-align: left;	
}
#Inner_Panel img{
	margin-left: 10px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  background: #FA2911;
}

/*Search Box*/

/*search*/
#searchbox
{
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	width: 700px;
	height: 40px;
	padding: 10px;
	margin: 10px auto 50px;
	overflow: hidden; /* Clear floats */
	margin-left: 10%;
	float: left;
}
#search, #submit
{
	float: left;
	
}
#search
{
	padding: 5px 9px;
	height: 40px;
	width: 520px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	-moz-border-radius: 5px 3px 3px 5px;
	 border-radius: 5px 3px 3px 5px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}
#submit
{		
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	
	-moz-border-radius: 3px 5px 5px 3px;
	border-radius: 3px 5px 5px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 40px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 170px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#submit:hover
{		
	background: #95d788;
	background-image: -moz-linear-gradient(#6cbb6b, #95d788);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #95d788),color-stop(1, #6cbb6b));
}
#submit:active
{		
	background: #95d788;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}
#submit::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}
#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}   
#search.placeholder {
   color: #9c9c9c !important;
   font-style: italic;
} 

/*================THE SEARCH BOX STYLING ENDS HERE====================*/

/*Comment CSS */
.mess{
width:250px;
max-width:250px;
height: 100px;
overflow: auto;
font-family:Arial, Helvetica, Sans-Serif;
font-size: 20px;
padding: 7px 8px;
line-height: 1em;
margin: 0;
}
.mess:focus{
background-color: #CFE7E2;
border: 1px solid #999;
outline: none;

}

.mess2{
width:250px;
max-width:250px;
height: 50px;
overflow: auto;
font-family:Arial, Helvetica, Sans-Serif;
font-size: 20px;
padding: 7px 8px;
line-height: 1em;
margin: 0;
}
.mess2:focus{
background-color:#85967D;
border: 1px solid #999;
outline: none;
color:white;
}

/*The Select Drop Down on Admin Page*/
.styled-select {
   width:350px;
   overflow: hidden;
   background: #F8F8F8;
   border: 1px solid #DDDDDD;
   height: 50px;
   border-radius:2px;
   float: left;
   margin-left: 50px;
   margin-top: 20px;
   
 }
 
.styled-select select {
  width: 100%;
  border: 0;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  color: red;
  font-size: 22px;
  background: transparent url("images/search_arrow.png") no-repeat scroll 97% 8px;
  @media (-webkit-min-device-pixel-ratio: 4),
    (min-resolution: 192dpi) {
      background: transparent url("images/search_arrow@2x.png") no-repeat scroll 97% 8px;
      background-size: 16px 144px;
    }
}
